(
    grunts: [
        (
            base_name: "Reloader Grunt",
            persona: "spam_reloader",
            count: 10,
        ),
    ],

    personas: {
        "spam_reloader": (
            timeout: Seconds(30),

            pipeline: [
                LuaFunction("generate_30_day_range"),
                Get(
                    url: "/calendar",
                    params: {
                        "start_date": LuaTableValue("start_date"),
                        "end_date": LuaTableValue("end_date"),
                    },
                ),
                AllOf([
                    WarnUnlessStatusCodeInRange(200, 299),
                    WarnUnlessHeaderExists("X-Never-Gonna-Give-You-Up"),
                    LuaFunction("was_valid_esoteric_format"),
                ]),
                GoTo(index: 0),
            ],
        ),
    },
)
